
/*section*/
.content{position: absolute;left: 0;top: 0;}
section{margin: .22rem 0 0 0;border-top: 0.01rem solid #d5d5d5;border-bottom: 0.01rem solid #d5d5d5;}

/*确认订单*/
.order-sure-rad{margin: 5rem auto;}

/*纯css模拟CheckBox*/
.order-sure-rad input{width: 1.12rem;height: .54rem;display: none;}
.checkBtn{width: 1.12rem;height: .54rem;background: #ddd;border-radius: 4.5rem;padding: 2px;position: relative;display: block;transition: all .2s ease;}
.checkBtn:after{content:'';border-radius: 50%;background: #FFF;width: .47rem;height: .47rem;position: absolute;left: 2px;transition: all .2s ease;}
.order-sure-rad input:checked + .checkBtn{background: #FF3F61;}
.order-sure-rad input:checked + .checkBtn:after{left: 55%;}
